:root {
    --mainEng-font: "Montserrat";
    --mainKor-font: "nanumSquareNeo";
    --mainNum-font: "gmarket";
    --mainTit-font: "overpass";
    --mainsub-font: "Sunflower";

    --mainBg-color: #fdf7dd;
    --mainfont-color: #023c44;
    --subBg100: #fdf7dd;
    --subBg200: #e7dba6;
    --subBg300: #197885;
    --subBg400: #023c44;
    --subBg500: #ffffff;

    --mainBg-color: #353866;
    --mainfont-color: #AAABD3;
    --subBg100: #353866;
    --subBg200: #e7dba6;
    --subBg300: #9a9cdf;
    --subBg400: #AAABD3;
    --subBg500: #ffffff;

    --subcolor3_000: #F8FAFF;
    --subcolor3_100: #F8FAFF;
    --subcolor3_200: #F8FAFF;
    --subcolor3_300: #F8FAFF;
    --subcolor3_400: #F8FAFF;
    --subcolor3_500: #F8FAFF;
    --subcolor3_600: #F8FAFF;

    --subcolor2_000: #AAABD3;
    --subcolor2_100: #9697bb;
    --subcolor2_200: #8283a1;
    --subcolor2_300: #68697f;
    --subcolor2_400: #9ba6c2;
    --subcolor2_500: #454ca5;
    --subcolor2_600: #111654;

    --subcolor000: #8289e9;
    --subcolor100: #7076cb;
    --subcolor200: #6065b0;
    --subcolor300: #6065ae;
    --subcolor400: #353866;
    --subcolor500: #30335c;
    --subcolor600: #232543;

    --white: #ffffff;
    --white100: #e8e8e8;
    --white200: #dddddd;
    --white300: #c1c1c1;
    --white400: #b3b3b3;
    --white500: #a4a4a4;

    --black: #000000;
    --black100: #000000;
    --black200: #000000;
    --black300: #000000;
    --black400: #000000;
    --black500: #000000;

    /* 폰트를 부드럽게 렌더링하기 위한 속성  */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* 아이폰 가로 모드에서 글씨 확대 금지 */
    -webkit-text-size-adjust: 100%;
}


@media (max-width: 800px) {
    :root {
        font-size: 14px;
        line-height: 1.4;
    }
}

body {
    background-color: var(--mainBg-color);
    font-family: var(--mainKor-font);
}